{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        
						
			{% for category in categories %}
				<div class="col-md-4 col-sm-12">
					<h1><a href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a></h1>
					
				</div>
			{% endfor%}
			{# { knp_pagination_render(posts) } #}
    </div>
{% endblock %}
