{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
			glowna<br />
			
			{% for post in posts %}
				<h1>{{ post.title }}</h1>
				<p>{{ post.content }}</p>
			{% endfor%}
			
        </div>
    </div>
{% endblock %}
