{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
		{{ post.title }}
		{#
			{% //for post in posts %}
				//{{ post.title }}
			{% endfor %}
		#}	

        </div>
    </div>
{% endblock %}

